.navbar {

     display: flex;
    
     align-items: center;
    
     justify-content: space-between;
    
     padding: 20px;
    
     background-color: teal;
    
     color: #fff;
    
    }
html, body {
    height: 100%;
    margin: 0;
  }
.h{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid rgb(20, 5, 231);
  }
#name{
  
    height: 50px;
    color: black;
  }